/*STYLE SHEET FOR (personal web site) */

body
{
margin:0px;
background-color:#FFF8DC;
}
h1
{
font-weight: bold;
text-decoration: underline;
color: #EE3333;
font-size: 160%;
margin-bottom: 25px;
margin-top:0px;
}
p
{
	width: 480px;

}
section
{
	 margin-left: 50px;
}
table
{
border:1px solid black;
}